<form method='get' action='/quizes'>
	<div>Buscar pregunta: 
	<input type='text' name='search' value='Texto de búsqueda' /></div>
	<input type='submit' value='Buscar' />
</form>
<table>
<% for (var i = 0; i < preguntas.length; i++) { %>
	<tr>
		<td>
			<a href='/quizes/<%= preguntas[i].id %>'><%= preguntas[i].pregunta %></a>
		</td>
		<td><a href='/quizes/<%= preguntas[i].id %>/edit'><button>Editar</button></a></td>
		<td>
			<form method="post" action="/quizes/<%= preguntas[i].id %>?_method=delete">
				<button type="submit" onClick="return confirm('¿Seguro que deseas borrar la pregunta <%= preguntas[i].pregunta %>?');" >Borrar</button>
			</form>
		</td>
	</tr>
<% } %>
</table>
<a href='/quizes/new'>Nueva pregunta</a>