<form method='get' action='/quizes/<%= pregunta.id %>/answer'>
	<div>Pregunta: <%= pregunta.pregunta %></div>
	<div>Temática: <%= pregunta.tematica %></div>
	<input type='text' name='respuesta' placeholder='Indique su respuesta'/>
	<input type='submit' value='Enviar' />
</form>

<p>
	<a href='/quizes/<%= pregunta.id %>/comments/new'><button>Nuevo comentario</button></a>
</p>

<p>
	<strong>Comentarios:</strong>
	<% for (index in pregunta.Comments) { %>
		<%  // Si el comentario está publicado o el usuario está logado entonces se muestra
			if (pregunta.Comments[index].publicado || session.user) { %>
			<p>- <%= pregunta.Comments[index].comentario %></p>
			<%  // Si no está publicado se muestra el botón de publicar
				if (!pregunta.Comments[index].publicado) { %>
				<a href='/quizes/<%= pregunta.id %>/comments/<%= pregunta.Comments[index].id %>/publish'>
					<button>Publicar</button>
				</a>
			<% } %>
		<% } %>
	<% } %>
</p>